{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<header>
	{% if user != 'no_user' %}
		{{ user.firstName }}
	{% else %}
		coucou
	{% endif %}
	
	
		<h1>
			header
		</h1>
	</header>
	<section>
		<h2>map</h2>
		<div id="map"></div>
	</section>
	<section>
		<h2>liste articles les plus lus</h2>
		<h2>liste articles les plus récent</h2>
	</section>
	<footer>
		footer
	</footer>

{% endblock %}
