{% extends 'base.html.twig' %}

{% block title %}Prevention
{% endblock %}

{% block body %}
	<section>
		<div class="text-white">
			<h4>Sources</h4>

			<h1>AVANT LE SEISME</h1>

		</div>

		<div class="container">
			<div class="row">
				<div class="col "><img src="{{asset('/images/carre-gris-Copie-2.jpg')}}" alt="carre gris" width="300" justify-content="flex-end"></div>
				<div class="">
					<p>
						TIP 1 : Nam quis aliquam elit, id efficitur magna. Mauris vulputate diam diam, ac volutpat nisi luctus eu. Mauris volutpat dolor
																																					nulla, nec faucibus lorem rhoncus id.In hac habitasse platea dictumst. Integer dapibus quam id arcu mollis, sit amet ultrices purus fermentum. 
																																					TIP 2 : Nam quis aliquam elit, id efficitur magna. Mauris vulputate diam diam, ac volutpat nisi luctus eu. Mauris volutpat dolor
																																					nulla, nec faucibus lorem rhoncus id.In hac habitasse platea dictumst. Integer dapibus quam id arcu mollis, sit amet ultrices purus fermentum. 
																																					TIP 3 : Nam quis aliquam elit, id efficitur magna. Mauris vulputate diam diam, ac volutpat nisi luctus eu. Mauris volutpat dolor																									                     nulla, nec faucibus lorem rhoncus id.In hac habitasse platea dictumst. Integer dapibus quam id arcu mollis, sit amet ultrices purus fermentum. 
																																					TIP 4 : Nam quis aliquam elit, id efficitur magna. Mauris vulputate diam diam, ac volutpat nisi luctus eu. Mauris volutpat dolor
																																					nulla, nec faucibus lorem rhoncus id.In hac habitasse platea dictumst. Integer dapibus quam id arcu mollis, sit amet ultrices purus fermentum.

					</p>


					<div class="row">
						<div class="col "><img src="{{asset('/images/carre-gris-Copie-2.jpg')}}" alt="carre gris" width="300" justify-content="flex-start"></div>
						<div class="">
							<p>
								TIP 1 : Nam quis aliquam elit, id efficitur magna. Mauris vulputate diam diam, ac volutpat nisi luctus eu. Mauris volutpat dolor
																																													nulla, nec faucibus lorem rhoncus id.In hac habitasse platea dictumst. Integer dapibus quam id arcu mollis, sit amet ultrices purus fermentum. 
																																													TIP 2 : Nam quis aliquam elit, id efficitur magna. Mauris vulputate diam diam, ac volutpat nisi luctus eu. Mauris volutpat dolor
																																													nulla, nec faucibus lorem rhoncus id.In hac habitasse platea dictumst. Integer dapibus quam id arcu mollis, sit amet ultrices purus fermentum. 
																																													TIP 3 : Nam quis aliquam elit, id efficitur magna. Mauris vulputate diam diam, ac volutpat nisi luctus eu. Mauris volutpat dolor																									                     nulla, nec faucibus lorem rhoncus id.In hac habitasse platea dictumst. Integer dapibus quam id arcu mollis, sit amet ultrices purus fermentum. 
																																													TIP 4 : Nam quis aliquam elit, id efficitur magna. Mauris vulputate diam diam, ac volutpat nisi luctus eu. Mauris volutpat dolor
																																													nulla, nec faucibus lorem rhoncus id.In hac habitasse platea dictumst. Integer dapibus quam id arcu mollis, sit amet ultrices purus fermentum.

							</p>

						</div>


						<div class="row">
							<div class="col "><img src="{{asset('/images/carre-gris-Copie-2.jpg')}}" alt="carre gris" width="300" justify-content="flex-end"></div>
							<div class="">
								<p>
									TIP 1 : Nam quis aliquam elit, id efficitur magna. Mauris vulputate diam diam, ac volutpat nisi luctus eu. Mauris volutpat dolor
																																																	nulla, nec faucibus lorem rhoncus id.In hac habitasse platea dictumst. Integer dapibus quam id arcu mollis, sit amet ultrices purus fermentum. 
																																																	TIP 2 : Nam quis aliquam elit, id efficitur magna. Mauris vulputate diam diam, ac volutpat nisi luctus eu. Mauris volutpat dolor
																																																	nulla, nec faucibus lorem rhoncus id.In hac habitasse platea dictumst. Integer dapibus quam id arcu mollis, sit amet ultrices purus fermentum. 
																																																	TIP 3 : Nam quis aliquam elit, id efficitur magna. Mauris vulputate diam diam, ac volutpat nisi luctus eu. Mauris volutpat dolor																									                     nulla, nec faucibus lorem rhoncus id.In hac habitasse platea dictumst. Integer dapibus quam id arcu mollis, sit amet ultrices purus fermentum. 
																																																	TIP 4 : Nam quis aliquam elit, id efficitur magna. Mauris vulputate diam diam, ac volutpat nisi luctus eu. Mauris volutpat dolor
																																																	nulla, nec faucibus lorem rhoncus id.In hac habitasse platea dictumst. Integer dapibus quam id arcu mollis, sit amet ultrices purus fermentum.

								</p>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
