{% extends 'base.html.twig' %}

{% block title %}Prevention
{% endblock %}

{% block body %}
	<section>
		<div class="container">
			<div class="text-white text-center py-5">
				<h1>LES BONS REFLEXES A AVOIR EN CAS DE SEISME</h1>
			</div>

			<div class="row">

				<div class="col-md-8 p-5 text-white">
					<h3>AVANT LE SEISME</h3>
					<ul class="list-group">

						<li>TIP 1 : Nam quis aliquam elit, id efficitur magna. Mauris vulputate diam diam, ac volutpat nisi luctus eu. Mauris volutpat dolor nulla, nec faucibus lorem rhoncus id.In hac habitasse platea dictumst. Integer dapibus quam id arcu mollis, sit amet ultrices purus fermentum.
						</li>
						<li>
							TIP 2 : Nam quis aliquam elit, id efficitur magna. Mauris vulputate diam diam, ac volutpat nisi luctus eu. Mauris volutpat dolor nulla, nec faucibus lorem rhoncus id.In hac habitasse platea dictumst. Integer dapibus quam id arcu mollis, sit amet ultrices purus fermentum.
						</li>
						<li>
							TIP 3 : Nam quis aliquam elit, id efficitur magna. Mauris vulputate diam diam, ac volutpat nisi luctus eu. Mauris volutpat dolor nulla, nec faucibus lorem rhoncus id.In hac habitasse platea dictumst. Integer dapibus quam id arcu mollis, sit amet ultrices purus fermentum.
						</li>
						<li>
							TIP 4 : Nam quis aliquam elit, id efficitur magna. Mauris vulputate diam diam, ac volutpat nisi luctus eu. Mauris volutpat dolor nulla, nec faucibus lorem rhoncus id.In hac habitasse platea dictumst. Integer dapibus quam id arcu mollis, sit amet ultrices purus fermentum.
						</li>

					</ul>

				</div>
				<div class="col-md-4 ">
					<img src="{{asset('images/avant.jpg')}}" alt="ville avant séisme" padding="50px" width="400px" height="400px" class="rounded-4">
				</div>
			</div>

			<div class="row">
				<div class="col-md-4 ">
					<img src="{{asset('images/pendant.jpg')}}" alt="ville pendant séisme" width="400px" height="400px" margin="50px" class="rounded-4 ">
				</div>
				<div class="col-md-8 p-5 text-white ">
					<h3>PENDANT LE SEISME</h3>
					<ul class="list-group">
						<li>TIP 1 : Nam quis aliquam elit, id efficitur magna. Mauris vulputate diam diam, ac volutpat nisi luctus eu. Mauris volutpat dolor nulla, nec faucibus lorem rhoncus id.In hac habitasse platea dictumst. Integer dapibus quam id arcu mollis, sit amet ultrices purus fermentum.
						</li>
						<li>
							TIP 2 : Nam quis aliquam elit, id efficitur magna. Mauris vulputate diam diam, ac volutpat nisi luctus eu. Mauris volutpat dolor nulla, nec faucibus lorem rhoncus id.In hac habitasse platea dictumst. Integer dapibus quam id arcu mollis, sit amet ultrices purus fermentum.
						</li>
						<li>
							TIP 3 : Nam quis aliquam elit, id efficitur magna. Mauris vulputate diam diam, ac volutpat nisi luctus eu. Mauris volutpat dolor nulla, nec faucibus lorem rhoncus id.In hac habitasse platea dictumst. Integer dapibus quam id arcu mollis, sit amet ultrices purus fermentum.
						</li>
						<li>
							TIP 4 : Nam quis aliquam elit, id efficitur magna. Mauris vulputate diam diam, ac volutpat nisi luctus eu. Mauris volutpat dolor nulla, nec faucibus lorem rhoncus id.In hac habitasse platea dictumst. Integer dapibus quam id arcu mollis, sit amet ultrices purus fermentum.
						</li>

					</ul>

				</div>
			</div>


			<div class="row">


				<div class="col-md-8 p-5 text-white">
					<h3>APRES LE SEISME</h3>
					<ul class="list-group">

						<li>TIP 1 : Nam quis aliquam elit, id efficitur magna. Mauris vulputate diam diam, ac volutpat nisi luctus eu. Mauris volutpat dolor nulla, nec faucibus lorem rhoncus id.In hac habitasse platea dictumst. Integer dapibus quam id arcu mollis, sit amet ultrices purus fermentum.
						</li>
						<li>
							TIP 2 : Nam quis aliquam elit, id efficitur magna. Mauris vulputate diam diam, ac volutpat nisi luctus eu. Mauris volutpat dolor nulla, nec faucibus lorem rhoncus id.In hac habitasse platea dictumst. Integer dapibus quam id arcu mollis, sit amet ultrices purus fermentum.
						</li>
						<li>
							TIP 3 : Nam quis aliquam elit, id efficitur magna. Mauris vulputate diam diam, ac volutpat nisi luctus eu. Mauris volutpat dolor nulla, nec faucibus lorem rhoncus id.In hac habitasse platea dictumst. Integer dapibus quam id arcu mollis, sit amet ultrices purus fermentum.
						</li>
						<li>
							TIP 4 : Nam quis aliquam elit, id efficitur magna. Mauris vulputate diam diam, ac volutpat nisi luctus eu. Mauris volutpat dolor nulla, nec faucibus lorem rhoncus id.In hac habitasse platea dictumst. Integer dapibus quam id arcu mollis, sit amet ultrices purus fermentum.
						</li>

					</ul>

				</div>
				<div class="col-md-4">
					<img src="{{asset('images/apres.jpg')}}" alt="ville après séisme" width="400px" height="400px" class="rounded-4" margin="50px">
				</div>
			</div>
		</div>
	</section>
{% endblock %}
