body {
    background-color: $dark-blue !important; 
    margin: 0; 
    padding: 0;
    color: white !important;
  }

body, html {
    height: 100%;
    margin: 0;
}

h1 {
    color: #FFFFFF;
    font-size: 2em;
    margin-bottom: 20px;
}

a {
    text-decoration: none !important;
   
}

.link-hover {
color: white !important;
}

.link-hover:hover {
    color: $card-blue !important;
}



