.header {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
}

.header img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
}

.header h1 {
    font-size: 2em;
}

.header .follow-btn, .header .edit-bio-btn {
    background-color: #fff;
    color: #023450;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 10px;
}

.content {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.popular, .recent {
    width: 48%;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card {
    display: flex;
    background-color: #015a92;
    padding: 10px;
    gap: 10px;
}

.card img {
    width: 100px;
    height: 100px;
}

.card div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card h3 {
    margin: 0;
}

.card p {
    margin: 0;
}

.card a {
    color: #fff;
    text-decoration: underline;
    align-self: flex-start;
}