<footer>
	<div class="link_footer">
		<a href="#">Conctats</a>
		<a href="#">FAQ</a>
		<a href="#">Mentions Légales</a>
	</div>

	<div class="copyright_footer">
		<p>&copy; 2024 Safeguards, Inc. All rights reserved.</p>
	</div>
</footer>