<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body></body>
	<footer>
		<div class=" flex-sm-row justify-content-between py-4 my-4 text-white bg-info_safeguards mb-">
			<div class="col mb-3">
<ul class="nav justify-content-center pb-3 mb-3">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-white">Accueil</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-white">Conctats</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-white">Mentions Légales</a></li>
    </ul>
				
			</div>

			<div class="nav-item  text-center">
				<p>&copy; 2024 Safeguards, Inc. All rights reserved.</p>

			</div>
		</div>
	</footer>
</html>
