<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body></body>
	<footer>
		<div class=" flex-sm-row justify-content-between py-4 my-4 text-white bg-info_safeguards mb-">
			<div class="col mb-3">

				<ul class="nav flex-column ">
					<li class="nav-item text-center">
						<a href="#" class="nav-link link-light link-offset-2  link-underline-opacity-100-hover">Acceuil</a>
					</li>
					<li class="nav-item text-center">
						<a href="#" class="nav-link link-light link-offset-2  link-underline-opacity-100-hover">Contacts</a>
					</li>
					<li class="nav-item text-center">
						<a href="#" class="nav-link link-light link-offset-2  link-underline-opacity-100-hover">Mentions Légales</a>
					</li>
					<li class="nav-item  text-center">
						<a href="#" class="nav-link link-light link-offset-2 ">About</a>
					</li>
				</ul>
			</div>

			<div class="nav-item  text-center">
				<p>&copy; 2024 Safeguards, Inc. All rights reserved.</p>

			</div>
		</div>
	</footer>
</html>
