<div class="navbar">
    <div class="link_navbar">
        <img src="{{asset('images/Logo_SafeGuards.png')}}" alt="">
        <a href="">Articles</a>
        <a href="">Catastrophes</a>
        <a href="">Prévention</a>
        <a href="">Map</a>
    </div>

    <div class="link_navbar_right">
        <input type="search" placeholder="Recherche">
        <a href="">Inscription</a>
        <a href="">Connexion</a>
    </div>
</div>