{% extends 'base.html.twig' %}

{% block title %}Maps
{% endblock %}

{% block body %}

	<input type="hidden" id="img_path" value="{{ asset('images/tremblementDeTerre.jpeg') }}">

	<section class="text-light text-center">
		<div class=" container d-flex justify-content-center">
			<div>
				<h2 class='my-4'>Séisme dans le monde</h2>
				<div id="map"></div>
			</div>
		</div>
	
	</section>
{% endblock %}
