{% extends 'base.html.twig' %}

{% block title %}Maps
{% endblock %}

{% block body %}
	<section class="text-light text-center">
		<div class=" container">
			<h2>Séisme dans le monde</h2>
			<div id="map"></div>
		</div>
	
	</section>
{% endblock %}
