//REGLES:  faire son code dans le fichier correspondant, si vous créer un nouveau fichier,
// oubliez pas d'importer le fichier ici.
// Le CSS doit être compiler : 
// lancer la commande : php bin/console sass:build --watch 
// pour que les modifs que vous faites soient prises en compte
// variables
@import './color/variables.scss';
@import './color/background.scss';
@import './fonts.scss';


@import '../../vendor/twbs/bootstrap/scss/functions';
@import '../../vendor/twbs/bootstrap/scss/variables';



@import 'profile';

@import './block/navbar.scss';
@import './block/footer.scss';

@import './earthquake/show.scss';

@import './article/article.scss';
@import '../styles/color/dashboard.scss';


body {
  background-color: $dark-blue !important; 
  margin: 0; 
  padding: 0;
  color: white !important;
}

// block
#map { 
  height: 600px; 
  width: 1100px; 
  align-items: center; 

}

// on peut customiser d'autres variables de bootstrap, mais faut les réinitialiser ici.
$theme-colors: map-merge($theme-colors, (
  "primary": $primary,
  "secondary": $secondary,

));

@import '../../vendor/twbs/bootstrap/scss/bootstrap';


// color des banières
@import '../../vendor/twbs/bootstrap/scss/_utilities.scss';


.bg-info_safeguards{
  background-color: $blue !important;
}


body, html {
  height: 100%;
  margin: 0;
}
.container-fluid {
  padding: 0;
}


