
$primary: #57B2CC; // set the $primary variable
$secondary: #936AC6; // set the $secondary variable

$success: #6AC67F; // set the $secondary variable
$danger: #C53E3E; // set the $secondary variable
$info: #F7F7F2; // set the $secondary variable

