// assets/styles/article_show.scss


.article-detail {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #1A2732;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.article-detail .image {
    flex: 1;
    margin-right: 20px;
    background-color: #BDC3C7;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2C3E50;
    font-weight: bold;
    border-radius: 5px;
    overflow: hidden;
}

.article-detail .image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.article-detail .content {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.article-detail .content h2 {
    margin-top: 0;
    font-size: 1.8em;
    color: #FFFFFF;
}

.article-detail .content p {
    color: #D1D1D1;
    line-height: 1.6;
}

.article-detail .actions {
    margin-top: 20px;
}

.article-detail .actions a {
    margin-right: 10px;
    color: #FFFFFF;
    font-size: 1.5em;
}

.article-detail .buttons {
    margin-top: 20px;
}

.article-detail .buttons .btn {
    background-color: #5D9CEC;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
}

.article-detail .buttons .btn:hover {
    background-color: #4A89DC;
}


