// assets/styles/article_show.scss


.article-detail {
    display: flex;
    background-color: #1A2732;
    
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.article-detail .image {
   min-width: 300px;
   min-height: 300px;
}



.article-detail .content {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.article-detail .content h2 {
    margin-top: 0;
    font-size: 1.8em;
    color: #FFFFFF;
}

.article-detail .content p {
    color: #D1D1D1;
    line-height: 1.6;
}

.article-detail .actions {
    margin-top: 20px;
}

.article-detail .actions a {
    margin-right: 10px;
    color: #FFFFFF;
    font-size: 1.5em;
}

.article-detail .buttons {
    margin-top: 20px;
}

.article-detail .buttons .btn {
    background-color: #5D9CEC;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
}

.article-detail .buttons .btn:hover {
    background-color: #4A89DC;
}


.card-img-article-show {
    height: 300px;
    width: 300px;
}